<% @listings.each do |listing| %>
  <div class="box">
    <div class="columns is-mobile is-centered is-vcentered">
      <div class="column is-3">
        <figure class="image is-128x128">
          <img src="https://i.imgur.com/Pyp4DwX.png" alt="">
        </figure>
      </div>
      <div class="column is-centered is-vcentered">
        <span class="title is-5"> <%= listing.name %></span><br />
        <span class="subtitle is-6"><%= listing.address %></span><br />
        <span class="subtitle is-6"><%= listing.bedrom %> bedroom</span><br />
        <span class="subtitle is-6"><%= listing.bathroom %> bathroom</span><br />
        <span class="subtitle is-6">$ <%= listing.price %> /night</span><br />
      </div>
    </div>
  </div>
<% end %>

