<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
     <%= link_to "AirBRB", root_path, class: "navbar-item" %>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>
    <%= render "layouts/search_navbar" %>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Logged in as <%= current_user.email %>
              </a>
              <div class="navbar-dropdown">
                <%= link_to 'Edit profile', edit_user_registration_path, class: "navbar-item" %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-item" %>
              </div>
            </div>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'button is-primary'  %>
            <%= link_to "Login", new_user_session_path, :class => 'button is-light'  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>